node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
dist/
build/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
